.image-upload-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    label{
        border: 1px solid #212121;
        padding: 10px;
        cursor: pointer;
        font-family: system-ui, sans-serif;
    }
}