.popup-card{
    position: fixed;
    top: 60px;
    right: 20px;
    border: 1px solid #a8a8a8;
    width: 200px;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    z-index: 99;

    .name{
        font-size: 16px;
        font-weight: 600;
        color: rgba(0, 0 , 0 , 0.9);
        text-align: left;
        margin-top: -7px;
    }

    .headline{
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0 , 0 , 0.9);
        margin-top: -15px;
    }

        .popup-option{
            cursor: pointer;
        }
    }

