.common-btn{
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 2px solid #014488;
    color: #014488;
    border-radius: 30px;
    font-size: 14px;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    margin: 7px 0;
}

.common-btn:hover{
    background-color: rgb(230, 230, 230);
    border: 2px solid #014488;
    color: #014488;
}