.connections-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  background-color: white;

  .grid-child {
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    width: 250px;
    height: 330px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
  }
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
  }
  .name{
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
  }

  .headline{
    margin-top: -15px;
    font-family: system-ui;
    font-size: 15px;
    font-weight: 400;
  }

  button{
    width: 90%;
    height: 40px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background-color: white;
    color: #004284;
    border: 1px solid #004284;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button:hover{
    border: 2px solid #004284;
    background-color: #bbdefb;
}

}
