.posts-card {
  width: 550px;
  min-height: auto;
  background-color: whitesmoke;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  // align-items: center;
  flex-direction: column;
  // justify-content: center;
  padding-bottom: 20px;
.post-image-wrapper{
  display: flex;
  padding: 15px;
  gap: 10px;
}
  .post-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    font-family: system-ui, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#212121;
    // padding: 20px;
    margin: 0px 0 0 0px;
    cursor: pointer;
  }

  .timestamp {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    // padding: 20px;
    margin: 0px 0 0 0px;
  }

  .status {
    text-align: left;
    // padding: 20px;
    margin: 10px 0 0 10px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
  }
}
