.posts-card {
  width: 550px;
  min-height: auto;
  background-color: whitesmoke;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  // align-items: center;
  flex-direction: column;
  // justify-content: center;
  padding-bottom: 20px;

  .name {
    font-family: system-ui, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(15, 17, 157, 0.6);
    // padding: 20px;
    margin: 10px 0 0 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  .timestamp {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    // padding: 20px;
    margin: 0px 0 0 10px;
  }

  .status {
    text-align: left;
    // padding: 20px;
    margin: 10px 0 0 10px;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
  }
}
